body {
  padding: 20px;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png);
}

h1 {
  color: #ecff5e;
  text-align: center;
  font-size: 24px;
}

#gallery {
  width: 500px;
  margin: 10px auto;
}

#gallery div {
  width: 200px;
  float: left;
  margin: 0 40px 20px 0;
  padding: 15px;
  text-align: center;

  transition: background 0.5 ease;
}

#gallery div:nth-child(even) {
  margin-right: 0;
}

#gallery div:hover {
  background: rgba(0, 0, 0, 0.3);
}

#gallery h3 {
  color: #dbdbdb;
  font-size: 16px;
}

#gallery div:hover h3 {
  color: #ecff5e;
}

#gallery img {
  vertical-align: middle;
}

#gallery input {
  margin-top: 20px;
  width: 100%;
}

#gallery p {
  color: #fff;
  font-size: 12px;
}
